@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: theme(colors.white);
  --background-start: theme(colors.slate.950);
  --background-end: theme(colors.gray.920);
  --grid-hex: theme(colors.neutral.500);
}

body {
  color: var(--foreground-rgb);
  background: var(--background-start);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#background {
  &::before {
    position: fixed;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--grid-hex) 1px, transparent 1px),
      linear-gradient(to right, var(--grid-hex) 1px, transparent 1px);
    opacity: 6%;
    background-size: 100px 100px;
    z-index: -20;
  }

  &::after {
    position: fixed;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    /* background: conic-gradient(from 0deg at 50% -5%, var(--background-end), var(--background-start)); */
    background: radial-gradient(ellipse at 50% 0%,var(--background-start), var(--background-end));
    z-index: -30;
  }
}
