@import 'tailwindcss';

@theme {
  --color-gray-870: #151d2c;
  --color-gray-910: #0e1523;
  --color-gray-920: #0b111f;
  --color-gray-930: #090e1a;
  --color-gray-940: #060a16;
}

:root {
  --background-start: var(--color-slate-950);
  --background-end: var(--color-gray-920);
  --grid-hex: var(--color-neutral-500);
}

body {
  background: var(--background-start);
}

#background {
  &::before {
    position: fixed;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--grid-hex) 1px, transparent 1px),
      linear-gradient(to right, var(--grid-hex) 1px, transparent 1px);
    opacity: 6%;
    background-size: 100px 100px;
    z-index: -20;
  }

  &::after {
    position: fixed;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    /* background: conic-gradient(from 0deg at 50% -5%, var(--background-end), var(--background-start)); */
    background: radial-gradient(ellipse at 50% 0%,var(--background-start), var(--background-end));
    z-index: -30;
  }
}
